<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart</title>
     <link rel="stylesheet" href="/css/style.css">
     <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body>
    <div id="main-text">
      <div id="navbar-start">
        <div class="nav-item-up">
          <div class="logo"><a href="/home"><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt=""></a></div>
          <i class="ri-search-line" id="icon"></i><input type="text" class="search" placeholder="Search for Products,Brands and More">
          <i class="ri-account-circle-line" id="account"></i><a href="/userlogin" style="text-decoration: none;color: black;"><h3 class="item">Login</h3></a><i class="ri-arrow-down-s-line" id="arrow"></i>
          <i class="ri-shopping-cart-line" id="cartes"></i><a href="/cart" style="text-decoration: none;"><h3 class="item" style="color: black;">Cart</h3></a>
          <i class="ri-store-line" id="store"></i><a href="/registration" style="text-decoration: none;"><h3 class="item" style="color: black;">Register</h3></a>
        </div>
      </div>
    </div>
    </body>
    </html>